<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>USF Tampa Computer Science Graduate Courses</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/theme.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id='container'>
      <h1>USF Tampa Computer Science Graduate Courses</h1>
      {% if text == "currenttable" %}
      <strong>Current Semester</strong>
      <a href='next'>Next Semester</a>
      {% endif %}

      {% if text == "nexttable" %}
      <a href='current'>Current Semester</a>
      <strong>Next Semester</strong>
      {% endif %}
      <div id='results'>
        <img src="img/ring-alt.svg">
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function() {
        $.ajax({
          url: "{{ text }}"
        }).done(function(r) {
          $("#results").html(r);
          $("#results").find("table").addClass("table");
          $("#results").find("table").addClass("table-striped");
        });
      });
    </script>
  </body>
</html>
